body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffd2;
}

.calculator {
  max-width: 400px;
  padding: 25px;
  height: 500px;
  background-color: #aa96da;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 15px 15px gray;
}

.screen {
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
  width: 400px;
  height: 100px;
  font-size: 25px;
  margin-bottom: 15px;
}

.keypad {
  width: 90px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-color: #c5fad5;
  font-size: 20px;
}

.keypad:hover {
  width: 95px;
  height: 65px;
  color: #aa96da;
  box-shadow: 5px 5px rgb(44, 43, 43);
  font-size: 25px;
}

#clear-all {
  width: 400px;
  border-radius: 20px;
}

#clear-all:hover {
  width: 405px;
  height: 65px;
}
